<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Não perca as novidades</title>
</head>

<body>
    <header>
        <h1 class="msg_boas_vindas">Seja Bem-vindo</h1>
        <h3 class="mensagem">Assine nossa Newsletter para não perder nenhuma novidade!</h3>
    </header>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/newsletter">Newsletter</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Newsletter</h1>
        <form id="formulario" action="/inscrever" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
            <label for="email">Número:</label>
            <input type="tel" id="tel" name="tel" required>
            <input type="submit" value="Inscrever">
        </form>
    </div>
</body>

</html>